p#one{
    color: rgb(0%,0%,0%);
}
p#two{
    color: rgb(20%,20%,20%);
}

p#three{
    color: rgb(40%,40%,40%);
}

p#four{
    color: rgb(60%,60%,60%);
}

p#five{
    color: rgb(80%,80%,80%);
}

p#six{
    color: rgb(0,0,0);
}

p#seven{
    color: rgb(51,51,51);
}

p#eight{
    color: rgb(102,102,102);
}

p#nine{
    color: rgb(153,153,153);
}

p#ten{
    color: rgb(254,254,254);
}