p.one{
    font-size: xx-small;
}
p.two{
    font-size: x-small;
}
p.three{
    font-size: small;
}
p.four{
    font-size: medium;
}
p.five{
    font-siz: large;
}
p.six{
    font-size: x-large;
}
p.seven{
    font-size: xx-large;
}