p:first-letter{
    font-weight: bold;
    font-size: 30px;
    color: aqua;
}

p:before{
    content: "the before";
    color: silver;
}

div:first-line{
    font-size: 50px;
    font-family: 华文仿宋;
    font-weight: bold;
    color: aquamarine;
}

div:after{
    content: "the end";
    color: silver;
}

